<div class="home_mobile_welcome">
<h1>WE<br>ARE<br>LIFTLINE<br></h1>
</div>

<%= render 'layouts/navigation' %>

<div class="home_mobile_bottom">
<h1><br>RIDE<br>WITH<br>US</h1>
</div>

<div class="home_mobile_about1">

<p>I started dreaming about Lift Line Clothing...
as a sophomore in High School. I spent most of my free time Snowboarding, Skating, Longboarding, or watching videos of those sports. I was never good enough to be sponsored or be a professional, but there was nothing that got me more stoked than being out and doing what I love to do.</p>
</div>

<div class="home_mobile_about2">
<p>This company is about spreading the hype about snowboarding, skiing, skateboarding, longboarding, biking, or whatever sport you love. It’s about riding with your friends, riding by yourself, or riding with complete strangers. As my company grows, I hope to be a bigger and bigger part of making people happy, and sharing the stoke that surrounds extreme sports.</p>
</div>

<div class="home_mobile_about3">
<h2>Ride Big. Dream Bigger.</h2>
</div>


<div class="logo">
<%= link_to image_tag("logo.png", alt: "Liftline"), 'images/logo.png' %>
</div>

<%= render 'layouts/footer' %>