<div>
<script type="text/javascript" src="http://app.ecwid.com/script.js?2923702" charset="utf-8"></script>
<!-- remove layout parameter if you want to position minicart yourself -->
<script type="text/javascript"> xMinicart("layout=attachToCategories"); </script>
</div>