
<hr class="featurette-divider">
<div class="row featurette">
<div class="col-md-7">
<br>
<h2 class="featurette-heading">I started dreaming
<span class="text-muted"> about Lift Line Clothing...</span>
</h2>
<p class="lead">
as a sophomore in High School. I spent most of my free time Snowboarding, Skating, Longboarding, or watching videos of those sports. I was never good enough to be sponsored or be a professional, but there was nothing that got me more stoked than being out and doing what I love to do.
</p>
<br>
<h2 class="featurette-heading">It inspired me to see pros 
<span class="text-muted"> out touring the world...</span>
</h2> 
<p class="lead">
It inspired me to see pros out touring the world, travelling to the most remote places of the globe, and spending weeks planning and landing one trick. I looked up to the companies that would send out their crews, and let people live out their dreams by being a part of the sport they love.	
</p>
<br>
<h2 class="featurette-heading">After sketching up designs 
<span class="text-muted"> and ideas for months...</span>
</h2> 
<p class="lead">
I finally came up with a name, logo, and a company. I went out and found some local riders that I admired, told them my story, and soon enough I had a small team on board with me. I’ve been lucky enough to get opportunities to sponsor various competitions in the northwest, as well as land my gear in Boardshop 5420 in North Bend.
</p>
<br>
<h2 class="featurette-heading">Although we sell clothing,  
<span class="text-muted"> Lift Line Clothing is much more than that...</span>
</h2> 
<p class="lead">
This company is about spreading the hype about snowboarding, skiing, skateboarding, longboarding, biking, or whatever sport you love. It’s about riding with your friends, riding by yourself, or riding with complete strangers. As my company grows, I hope to be a bigger and bigger part of making people happy, and sharing the stoke that surrounds extreme sports.
</p>
</div>
<div class="col-md-5">
<%= link_to image_tag("logo.png", :border => 0), {:size => '100x500'}, {:class => 'featurette-image', :class => 'img-responsive'}
  %>
</div>
</div>
<h1 class="featurette-heading" style='text-align: center; font-weight: 900; font-size: 5em; color: #666;'><i> Ride Big. Dream Bigger.</i></h1>
<div class="about_bottom">

  </div>