<div class="custom_nav" ontouchstart="this.classlist.toggle('hover');">
<div class="flipper">
<div class="front">
<ul>
<li>laksdj</li>
<li>oakjsd</li>
<li>laksdj</li>
<li>oakjsd</li>
<li>laksdj</li>
<li>oakjsd</li>
</ul>
</div>
<div class="back">
</div>
</div>
</div>